/* the custom web style here */
:root {
    --black: #000000;
    --white: #FFFFFF;
    --main-color: #136567;
    --light-gray: #c8c8c8;
    --gray: #808080;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*all inputs*/ 
.input-type{
    display: block;
    width: 60vw;
    height: 40px;
    margin: 1vw auto 2vw auto;
    border: 2px solid #136567;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 16px;
}
/*all textArea*/
.input-type-textarea{
    width: 60vw;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
    font-family: inherit;
    margin: 1vw auto 2vw auto;
}
/*costoum-lable*/
.costoum-lable{
    display: block;
    font-size: 1.5rem;
    text-align: start;
    padding-left: 10vw;
    color: var(--main-color);
}
/*start login*/
.welcome-txt{
    margin-left: 8vw;
    font-size: 3rem;
}
.input-type-login{
    display: block;
    width: 60%;
    height: 4rem;
    margin: 3vw auto 3vw 10vw;
    border: 2px solid #136567;
    border-radius: 2rem;
    padding-left: 15px;
    font-size: 16px;
}
.login-btn{
    width: 60% !important;
    height: 4rem;
    margin: 3vw auto 3vw 10vw;
}
/*end login*/

/* start of card design for blog pages */
a.blog-link {
    text-decoration: none;
}

.blog-card {
    text-align: left;
    position: relative;
    display: inline-block;
    width: 20rem;
    /* box-shadow: 0 5px 9px -6px black; */
    box-shadow: 0 0px 17px -3px black;
    cursor: pointer;
}

.blog-card img {
    margin: 0 auto;
    width: 100%;
    height: 210px;
    -o-object-fit: cover;
    object-fit: cover;
}

.blog-card .blog-card-title {
    /* font-family: var(--title-font); */
    font-size: 22px;
    color: var(--main-color); 
    height: 4rem;
    display: inline-block;
}

.blog-card .blog-card-text {
    font-size: 16px;
    color: var(--gray) ;
    height: 4rem;
    display: inline-block;

}

.no-link-style , .no-link-style:hover {
    color: inherit; /* Use the parent's text color */
    text-decoration: none; /* Remove underlines */
}

/* end of card design for blog pages */
/*design add blog btn*/
.blog-container{
    position: relative;
}
.add-blog-btn{
    z-index: 1;
    position: fixed;
    text-decoration: none;
    top: 78vh;
    right: 3rem;
}

/* start  style for blog link */
/* hover style */
.blog-card .blog-links {
    width: 213px;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 48%;
    left: 50%;
    transition: all .4s ease 0s
}

.blog-card:hover .blog-links {
    opacity: 1;
    top: 50%
}

.blog-links li {
    display: inline-block;
    margin: 0 0.2rem;
}

.blog-links li #delete_icon , #edit_icon{
    background: #fff;
    font-size: 1.4rem;
    line-height: 3.2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    display: block;
    position: relative;
    transition: all .4s ease-out 0s;
    -webkit-transition: all .4s ease-out 0s;
    -moz-transition: all .4s ease-out 0s;
    -ms-transition: all .4s ease-out 0s;
    -o-transition: all .4s ease-out 0s;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-align: center;
}

.blog-links li a:hover {
    box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, .2)
}

/* style for each icon bg and hover color */
.blog-links li:hover .fa-pen,
.blog-links li:hover .fa-trash-can {
    color: #fff
}

.blog-links li a .fa-trash-can {
    color: red
}

.blog-links li #edit_icon .fa-pen {
    color: var(--main-color);
}

.blog-links li #edit_icon:hover .fa-pen {
    color: var(--white)
}

.blog-links li #edit_icon:hover {
    background: var(--main-color)
}

.blog-links li #delete_icon:hover {
    background: red
}

/* tool tip */
.blog-links li div:before,
.blog-links li div:after {
    content: attr(data-tip);
    color: #fff;
    background-color: #555;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -40px;
    transition: all 0.3s ease 0s;
}

.blog-links li div:after {
    content: '';
    height: 10px;
    width: 10px;
    padding: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.blog-links li div:hover:before,
.blog-links li div:hover:after {
    display: block;
}
/* end  style for blog link */
/* start blog details */
.blog-img {
    padding-right: 0;
    padding-left: 0;
}

.blog-img img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;

}


.blog-title-continar {
    position: relative;
}
.blog-title-continar .blog-title {
    font-size: 26px;
    color:  var(--main-color);
}
.blog-title-continar .blog-date {
    position: absolute;
    right: 4rem;
    top: 1rem;
    color:  var(--gray);
}
@media(max-width: 768px) {
    .blog-title-container .blog-date {
        position: static; /* Change to the default positioning for small screens */
    }
}


.blog-text {
    font-size: 18px;
    color:  var(--main-color);
}

/* end blog details */
/* start header */
.navbar {
    background-color: var(--white);
}

.navbar-nav .active {
    color: var(--main-color);
    font-weight: bold;
}

.navbar-nav .nav-link p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 4rem;
    color: var(--main-color);
}

.nav-photo {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
    border-radius: 10rem;
    overflow: hidden;
    box-shadow: 0 0px 17px -3px var(--light-gray);
}
.scrollable-column {
    overflow-y: auto;
    height: 130vh; /* Adjust the height as needed */
}

/* end header */

/* start footer section*/
.footer {
    flex-shrink: 0 !important;
    font-size: 1.4rem;
    margin-top: auto;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    color:  var(--gray);
}

/* end footer section*/
/* start faqs */
.accordion .card {
    border: none;
    margin-bottom: 2px;
    box-shadow: 0 1px 5px -1px var(--black);
}

.accordion-header .accordion-button {
    color: var(--main-color) !important;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    color: var(--main-color) !important;
    background-color: var(--white) !important;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.faq-btn{
    text-decoration: none; 
}

.faq-btn-delete{
    border: red 0.5vh solid!important;
    color: #FFFFFF !important;
    background-color: red !important;
}
.faq-btn-delete:hover{
    border: red 0.5vh solid !important;
    color: red !important;
    background-color: #FFFFFF !important;
}
/* end faqs */

/* start profile */
.profile-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--main-color);
}

.profile-container {
    padding: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    overflow: hidden;
    box-shadow: 0 0px 17px -3px var(--black);
}

.profile-img {
    width: 100%;
    height: 100%;
    padding: 12px 25px;
    color: #000;
    cursor: pointer;
    z-index: 100;
}

.edit-link {
    font-size: 1.5rem;
    color: var(--light-gray);
}
.edit-link:hover {
    color: var(--main-color);
}

.profile-detail .table tr {
    color: var(--black);
    font-size: 1.5rem;
}

.profile-detail .table .profile-icon {
    color: var(--main-color);
}

/* end profile */
/* start side bar */
.side-bar {
    background-color: var(--white);
    padding-left: 0;
    padding-right: 0;
    box-shadow: 10px 0 5px -2px var(--light-gray);
    position: sticky;
    z-index: 1;
}

.side-bar .icon-container {
    box-shadow: 0 10px 5px -2px var(--light-gray);

}

.side-bar .side-bar-container .side-header {
    color: #808080;
    text-align: start;
    padding-left: 0;
    font-weight: bold;
    position: relative;
}

.side-bar .side-bar-container .side-header:focus {
    color: var(--main-color);
    /* background-color:#bebaba ; */
    box-shadow: 0 0px 17px -3px var(--light-gray);

}

.side-bar .side-bar-container ul li {
    padding-top: 0.6rem
}

.side-bar .side-bar-container .slide-link {
    padding-left: 3rem !important;
    text-decoration: none;
    color: var(--gray);
}

.side-bar .side-bar-container .active {
    color: var(--main-color);
    font-weight: bold;
}

.side-bar .side-bar-container .side-header .side-bar-icon {
    position: absolute;
    right: 2rem;
}



/* end side bar */
/* start report */
.report-div {
    box-shadow: 0 0px 17px -3px var(--light-gray);
    padding: 0;
}

.report-items {
    color: #808080;
    padding: 1rem 2rem;
    font-size: 1.5em;
    text-align: center;
    font-family: "Simpfxo";
    cursor: pointer;
}

.active-report-items {
    color: var(--main-color);
}

.report-items:hover {
    color: var(--main-color);
}

.report-filter {
    background-color: #EDEDED;
    position: relative;
}

.report-filter .all-filters .filters {
    box-shadow: 0 0px 17px -3px var(--light-gray);
    width: 13rem;
    padding: 0.3rem;
    border: none;
    color: var(--main-color);
}

.report-filter .complaints-no {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    color: var(--main-color);
    font-size: 1.5em;
    text-align: center;
    font-family: "Simpfxo";
    font-weight: 500;
}
.report-filter .all-filters .date-filter {
    display: inline;
}
.report-filter .all-filters .date-filter td {
    padding: 1rem;
}

.report-filter .all-filters .rest-btn {
    color: var(--main-color) !important;
    background-color: #FFFFFF !important;
    margin-left: 2rem !important;
}
.report-filter .all-filters .rest-btn:hover{
    color:  #FFFFFF !important;
    background-color: #707070 !important;
}

.report-table table {
    width: 100%;
}


.report-table table tr td {
    padding: .8rem 0.5rem;
    color: #707070;
}

.report-table table tr th {
    padding: .8rem 0.5rem;
    color: #4A4A4A;
}
.report-table table .clickable-row{
    cursor:pointer;
}


.report-table table thead {
    position: relative;
    z-index: 0;
    box-shadow: 0 0px 17px -3px var(--main-color);
}

.report-table table tr .no-place {
    padding-left: 1rem;
}

.report-table table tr:nth-child(even):not(thead tr) {
    background-color: #E1E1E1;
    border-bottom: solid 1px var(--main-color);
}

.report-table table tr:nth-child(odd):not(thead tr) {
    background-color: #ECECEC;
    border-bottom: solid 1px var(--main-color);
}

/* end report */

/* Start of maryam section*/
@font-face {
    font-family: 'Simpfxo';
    src:
        url('fonts/simpfxo-webfont.woff') format('woff'),
        url('fonts/simpfxo-webfont.woff2') format('woff2');

}

.page_header,.comp-id {
    color: var(--main-color);
    font-weight: 500;
    font-size: 3em;
    margin-top: 1vh;
    text-align: center;
}
.comp-id{
    margin-top: 0vh;
    margin-bottom:6vh;
    text-align: start;
}

.btn_container {
    display: flex;
    justify-content: end;
    align-items: end;
}

.web_btn,.web_btn_s{
    display: inline-block;
    padding: 0em 2em;
    margin-top: 2vh;
    margin-right: 12vw;
    box-sizing: border-box;
    font-size: 1.7em;
    font-family: "Simpfxo";
    color: #FFFFFF;
    background-color: var(--main-color);
    text-align: center;
    border: var(--main-color) 0.5vh solid;
    border-radius: 2em;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem
}
.web_btn_s,.web_btn_c{
    font-size: 1.1em;  
}


.web_btn:hover,.web_btn_s:hover {
    background-color: #fff;
    border: var(--main-color) 0.5vh solid;
    color: var(--main-color);
}

.submenu-div {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submenu-items{
    color: #808080;
    padding: 1vw 7vw;
    font-size: 1.5em;
    text-align: center;
    font-family: "Simpfxo";
}
.selected-submenu-item{
    color: var(--main-color);
    padding: 1vw 7vw;
    font-size: 1.5em;
    text-align: center;
    font-family: "Simpfxo";
}
.submenu-items:hover {
    color: var(--main-color);
}

.list-container,
.display-container {
    margin: 5vh 11vw 5vh 9vw;
}
.tech-list-container{
    margin: 5vh 11vw 5vh 25vw;
}

.list-item {
    background-color: #f8f8f8;
    margin: 5vh 0vw;
    padding: 1.5vh 1vw;
    border: transparent 1px solid;
    border-radius: 0.7em;
    box-shadow: #dadada 0vh 0vw 0.5vw, #dadada 0vh 0vw 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pri-sec,.pic-sec {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D50000;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    font-size: 1.5em;
}
.pic-sec{
    background-color: white;
    box-shadow: #dadada 0vh 0vw 0.5vw, #dadada 0vh 0vw 1vw;
    height: 2.1em;
    width: 2.1em;
}

.list-text {
    color: #3c3c3c;
    font-size: 1.2em;
    font-family: Arial;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.list-status {
    color: var(--main-color);
    font-size: 1.2em;
    font-family: "Simpfxo";
    display: flex;
    justify-content: center;
    align-items: center;
}

.cat-list {
    color: var(--main-color);
    font-weight: 500;
    font-size: 2em;
    text-align: center;
}

.cat-list-container {
    margin: 6vw 24vw;
}

.cat-list-text {
    color: #3c3c3c;
    font-size: 1.5em;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp-answer-input,
.cat-input {
    background-color: #f8f8f8;
    margin: 5vh auto;
    width: 30vw;
    padding: 1.5vh 1vw;
    border: #b8b8b8 1.5px solid;
    border-radius: 2em;
    color: #3E3E3E;
}
.comp-answer-input {
    margin: 2vh 10vw 0vw 6vw;
    width: 60vw;
    height: 40vh;
    padding: 2vh 2vw;
    resize: none;
    font-size: 1.2em;
}


.cat-container {
    display: flex;
    justify-content: end;
    align-items: end;
}

.cat-txt {
    display: inline-block;
    padding-left:  2em;
    font-size: 1.7em;
    font-family: Arial;
    color: #707070;
    text-align: center;
}

.pri-txt {
    color: #D50000;
    font-family: "Simpfxo";
    font-size: 2em;
}



.comp-head {
    color: #606060;
    margin-top: 5vh;
    margin-left: 2vw;
}

.comp-desc {
    margin: 5vh 10vw 4vw 4vw;
    color: #3E3E3E;
    font-size: 1.2em;
    line-height: 3.8vh;
}



.delete-icon,.delete-icon:hover {
    color: #D50000;
    cursor: pointer;
}

.edit-icon,.edit-icon:hover {
    color: var(--main-color);
    cursor: pointer;
}

.icons-container {
    margin: 0vh 6vw 6vh 6vw;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 1.5em;
}

.prog-container {
    margin-bottom: 14vh;
}

.progressbar-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.progressbar-text li {
    list-style-type: none;
    float: left;
    position: relative;
    color: #717171;
    font-size: 1.1em;
    margin: 1vh 0vw 1vh 0vw;

}

.prog-container .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

}

.steps .status-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    border: #AEADAD 4px solid;
}

.steps .progressbar {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #AEADAD;
    z-index: -1;
}

.progressbar .indicator {
    position: absolute;
    height: 100%;
    width: 31.5%;
    background-color: var(--main-color);
}

.steps .done {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.steps .cur {
    border: 6px var(--main-color) solid;
}

#del-model-box {
    padding: 1.5em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: #919191 0vh 0vw 0.5vw, #919191 0vh 0vw 1vw;
    display: none;
}

#del-model-box .del-button {
    color: white;
    background-color: #D50000;
}

.share-icon{
    color: var(--main-color);
    font-size: 1.5em;
}
.share-icon:hover{
    color:rgba(19, 101, 103,0.8) ;
}
.share-icon-i {
    transform: rotate(10deg);
}

.send-icon{
    color: rgba(19, 101, 103,0.7);
    font-size: 1.5em;
    padding-left: 1.5em ;
}

.menu-container {
    margin-right: 4vw;
    margin-top:8vh;
    display: flex;
    justify-content: end;
    align-items: end;
}

.custom-select {
    position: relative;
    width: 250px;
    max-width: 100%;
    font-size: 1.15rem;
    color: #3c3c3c;
    margin-top: 3rem;

}
.select{
    color: #919191 !important;
}
.select-button,.select-button-pri {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3c3c3c;
}
.select-button-pri{
    width: 18%;
}

.selected-value {
    text-align: left;
    color: #606060;
}

.arrow {
    border-left: 8.5px solid transparent;
    border-right: 8.5px solid transparent;
    border-top: 10px solid #5A9495;
    transition: transform ease-in-out 0.3s;
}

.select-dropdown {
    position: absolute;
    list-style: none;
    width: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}

.select-dropdown li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown li label {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.select-dropdown::-webkit-scrollbar {
    width: 7px;
}

.select-dropdown::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.select-dropdown::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.select-dropdown li:hover,
.select-dropdown input:checked~label {
    background-color: #eaeaea;
}

.select-dropdown input:focus~label {
    background-color: #dfdfdf;
}

.select-dropdown input[type="radio"] {
    position: absolute;
    left: 0;
    opacity: 0;
}

.custom-select.active .arrow {
    transform: rotate(180deg);
}

.custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

.admin-list-container{
    margin: 12vh 8vw 5vh 6vw;
}
.upd_btn {
    font-size: 1.2em;
    font-family: "Simpfxo";
    color: var(--main-color);
    text-align: center;
    border: transparent 0.5vh solid;
}
.can_btn {
    font-size: 1.2em;
    font-family: "Simpfxo";
    color: #717171;
    text-align: center;
    border: transparent 0.5vh solid;
}
.custom-checkbox input[type="checkbox"] {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    outline: none;
    cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
    /* Customize the appearance when the checkbox is checked */
    background-color: #007bff; /* Change to your desired color */
    border-color: #007bff; /* Change to your desired color */
}

.custom-checkbox input[type="checkbox"]:checked::before {
    /* Add a checkmark icon when the checkbox is checked */
    content: '\2713';
    color: #fff;
    display: block;
    text-align: center;
    line-height: 16px;
    font-size: 12px;
}
.clickable-div{
    display: none;
}
.cat-input-container span,.answer-input-error{
    margin-bottom:3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#D50000 !important;
}
.comp-status-text{
    color:var(--main-color);
    font-size: 1.3em;
    font-family: "Simpfxo";
    display: flex;
    justify-content: flex-start;
    align-items: center
}
.icons-container {
    display: inline-block;
    padding-left:  2em;
    display: flex;
    justify-content: end;
    align-items: end;
}
.icons-container-items {
    font-size:1em;
    margin:0.5vh 0.5vw;

}

/* End of maryam section*/